doctype html
html
    head
        title Form
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        link(rel='stylesheet', href="stylesheets/style.css")
        script(type="text/javascript")   
        
         
        
    body
        
        form(action="posted" method="post" id="mailerpage")
            div.form-row(id="prefixbuttonsinmailer")
                div.form-check.form-check-inline.col-md-2
                    input(class="form-check-input" type="radio" name="prefix" value="Mr.")
                    label(class="form-check-label" for="inlineCheckbox1" checked) Mr.
                
                div.form-check.form-check-inline.col-md-2
                    input(class="form-check-input" type="radio" name="prefix" value="Mrs.")
                    label(class="form-check-label" for="inlineCheckbox2" checked) Mrs.

                div.form-check.form-check-inline.col-md-2
                    input(class="form-check-input" type="radio" name="prefix" value="Ms.")
                    label(class="form-check-label" for="inlineCheckbox3" checked) Ms.

                div.form-check.form-check-inline.col-md-2
                    input(class="form-check-input" type="radio" name="prefix" value="Dr.")
                    label(class="form-check-label" for="inlineCheckbox4" checked) Dr. 
            br

            div#mainform.form-row
                div.form-group.col-md-6
                    label(for="firstnamei") First Name
                    input(type="text" name="firstname" id="firstnamei" placeholder="Name" class="form-control")    
                


                div.form-group.col-md-6
                    label(for="lastnamei") Last Name
                    input(type="text" name="lastname" id="lastnamei" placeholder="L-Name" class="form-control")   
            div.form-row
                div.form-group.col-md-6
                    label(for="street") Street
                    input(type="text" name="street" id="street" placeholder="Street" class="form-control" required)    
                
                div.form-group.col-md-6
                    label(for="city") City
                    input(type="text" name="city" id="lastnamei" placeholder="City" class="form-control" required) 
                
            div.form-row
                div.form-group.col-md-6
                    
                    label(for="selectstate") State 
                    select(class="form-control" id="selectstate" name="state")
                        option(selected value="state") State
                        option(value="NJ") NJ
                        option(value="NY") NY
                        option(value="PA") PA
                        option(value="CT") CT

                div#zipmargin.form-group.col-md-6
                    label(for="ZIP") ZIP:
                    input(type="text" name="ZIP" id="ZIP" placeholder="07430" class="form-control" required)  

            div.form-row
                div.form-group.col-md-6
                    label(for="phone") Phone Number:
                    input(type="text" name="phone" placeholder="2013128701" class="form-control")    
                
                div.form-group.col-md-6
                    label(for="email") E-mail:
                    input(type="email" name="email" placeholder="abc@ramapo.edu" class="form-control")

            p How may we contact you?

            p
                div.form-check.form-check-inline.col-md-2
                    input(class="form-check-input" type="checkbox" name="phonechk" value="Phone")
                    label(class="form-check-label" for="inlineCheckbox1") Phone

                div.form-check.form-check-inline.col-md-2
                    input(class="form-check-input" type="checkbox" name="mailchk" value="Mail")
                    label(class="form-check-label" for="inlineCheckbox2") Mail
                
                div.form-check.form-check-inline.col-md-2
                    input(class="form-check-input" type="checkbox" name="emailchk" value="Email")
                    label(class="form-check-label" for="inlineCheckbox3") Email
                
                div.form-check.form-check-inline.col-md-2
                    input(class="form-check-input" type="checkbox" name="anychk" value="Any")
                    label(class="form-check-label" for="inlineCheckbox4") Any
                    
            
            button(type="submit") Submit
                   
                    
            
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
