body {
	/*padding: 30px 30px 30px 30px;*/
	background-color: #D3D3D3;

	}

#parentupdateform, #mailerpage {
	margin:  auto;
	margin-top: 5%;
	background-color: #d5f4e6;
	padding: 15px 15px 15px 15px;
	width: 50%;
	
	border: 2px solid black;
	font-size: 20px;
}


h2{
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;

}
#selectstate{
	width:100%;
}
#ZIP{
	float:right;
}

.coordinates {
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding:5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

#map{
    margin:auto; 
    width: 97%;
    min-width: 400px;
    height:400px;
    min-height: 200px; 
   
    border: 2px solid red;
}

#lastbuttons{
    
    display: flex;
    flex-flow: column-reverse wrap;
}

.instructions{
    width: 360px;
    padding: 8% 0 0 ;
    margin: auto;
}

.registerform{

    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0
    rgba(0,0,0,0.24);

}

.registerform input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.registerform button{
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      width: 100%;
      border: 0;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
}

#displayupdatepage{
    padding: 30px 30px 30px 30px;
}

#mailerpage{
    padding: 30px 30px 30px 30px;
}

#allinfotable {
    background-color:   #B0C4DE;
    width: 97%;
    margin: auto;
}

#allinfotable th {
    background-color: #4E555E;
    color: white;

}

#allinfotable tr:hover{
    background-color: #5F9EA0;
}

#allinfotable th,td{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#contactsheader{
    font-style: bold;
    color: black;
    letter-spacing: 1px;
    text-shadow: 2px 1px white;
}

